<div class="container">
  <div class="text-center">
    <h3><%= @chatroom.topic %></h3>
    <hr>
    <div class="messages">
      <% @messages.each do |message| %>
        <div class="flexed">
          <% @user = User.find_by_id(message.user_id) %>
          <p><b><%= @user.email %></b><%= message.content %></p>
          <!-- <p><%#= @user.email  %></p>
          <p><%#= message.content %></p>  -->
          <!-- <p><%#= link_to "Delete", chatroom_message_path(@chatroom, message), method: :delete %></p> -->
        </div>
      <% end %>
    </div>

    <hr>

    <%= simple_form_for([@chatroom, @message], remote: true) do |f| %>
      <%= f.input :content %>
      <%= f.submit %>
    <% end %>
  </div>
</div>