<div class="container">
  <div class="text-center">
    <h3><%= @chatroom.topic %></h3>
    <hr>
    <% @messages.each do |message| %>
      <div>
        <p><%= message.content %></p> 
        <p><%= link_to "Delete", chatroom_message_path(@chatroom, message), method: :delete %></p>
      </div>
    <% end %>

    <hr>

    <%= simple_form_for([@chatroom, @message]) do |f| %>
      <%= f.input :content %>
      <%= f.submit %>
    <% end %>
  </div>
</div>